body {
  background-color: black;
  background: url(https://64.media.tumblr.com/73966b6acfd978cc2ae90639bd803d73/tumblr_inline_mydbkloJQm1qak244.gif) center repeat;
}

#container{
  /* background-color:#aaa; */

  margin: 0 auto;
  padding: 20px 50px 20px 50px;
  display:flex;
  justify-content: space-around;
  align-items:;
}

#title{
  color: white;
  font-family: 'VT323', monospace;
  font-size: 40px;
  padding: 0px 50px 0px 50px; /** top right bottom left **/
}

#soundArt{
  width: 225px;
  border-radius: 15px;
  margin: 37.5px;
  float: left;
  border: 0.25px solid black;
  box-shadow: 5px 5px 10px grey;
}

#songName{
  font-family: "Roboto";
  font-size: 30px;
  float: left;
  width: 500px;
  height: 5px;
  margin-top: 37.5px;
}

#composer{
  font-family: "Roboto";
  font-size: 20px;
  float: left;
  width: 500px;
  height: 5px;
}

#album{
  font-family: "Roboto";
  font-size: 20px;
  float: left;
  width: 500px;
  height: 5px;
}

#myaudio{
  float: left;
  padding-top: 20px;
}

#descArt{
  float: left;
  height: 250px;
  margin-left: 40px;
  margin-top: 40px;
  border: 0.25px solid black;
  box-shadow: 5px 5px 10px grey;
}

#boxArt{
  height: 300px;
}

#header{
  color: black;
  font-family: 'VT323', monospace;
  font-size: 35px;
  float: left;
  margin-left: 25px;
  margin-top: 125px;
  width: 200px;
}

#subhead{
  color: black;
  font-family: "Roboto";
  font-size: 15px;
  float: left;
  margin-left: 25px;
  line-height: 1.6;
  width: auto;
}

#body1{
  color: black;
  font-family: "Roboto";
  font-size: 14px;
  float: left;
  line-height: 1.6;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

#body2{
  color: black;
  font-family: "Roboto";
  font-size: 14px;
  float: left;
  line-height: 1.6;
  margin-left: 30px;
  margin-right: 30px;
}

.box{
  background-color:white;
  /* border:1px solid black; */
  margin: 12.5px;
  /** width:94%; **/
  display:block;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px white;
  background-color: rgba(255, 255, 255, 0.8);
}

.column{
  display:flex;
  flex-direction:column;
  width:33%;
}

.box-art{
  width: 40px;
  height: 300px;
  overflow: hidden;
  box-shadow: 5px 5px 10px grey;
}

.footer{
  color: white;
  font-family: 'VT323', monospace;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

.footer a{
  color: white;
  padding: 25px 50px 25px 50px; /** top right bottom left **/
}
