body{
    /* background-color: rgb(225, 237, 245); */
    background-image: url("tile_background4.png");
    background-repeat: repeat;
    
}

@media only screen and (max-width: 800px) {
    body {
      background-image: url(tile_background6.png);
    }
  }

h2{
    color: rgb(9,54,84);
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 55px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    h2 {
        font-size: 30px;
    }
}

h2 a{
    color: rgb(9,54,84);
    text-decoration: none;
}

.alert{
    padding: 0px 50px 10px 50px;
    font-family: 'Bungee', cursive;
    color: rgb(9,54,84);
}

marquee{
    display: flex;
    justify-content: space-between;
}

.nav-container{
    padding: 10px 50px 10px 50px;
    
}

.nav{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    font-family: 'Bungee', cursive;
    background-color: rgb(225, 237, 245);
    border-radius: 5px;
}

.nav a{
    text-decoration: none;
    color: rgb(9,54,84);
    
}

.nav a:visited{
    color:  rgb(9,54,84);
}

.nav a:hover{
    color: rgb(102, 131, 150);
}

.footer_container{
    padding: 0px 50px 0px 50px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;

    background-color: rgb(9,54,84, .8);
    border-radius: 5px;
    
    text-align: center;
    font-size: 20px;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer-items{
    color: white;
    font-family: 'Bungee', cursive;
}

